<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head') %> 

<body>
    <%- include('partials/header') %> 
    <main>
        <h1>Home del sitio</h1>
        <p>
            <%= mensaje %>
        </p>
        <img src="/images/auto.jpg" alt="">
    </main>

    <%- include('partials/footer') %> 
    
</body>

</html>